In [1]:
pip install wooldridge

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting wooldridge
  Downloading wooldridge-0.4.4-py3-none-any.whl (5.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.1/5.1 MB 38.4 MB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from wooldridge) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->wooldridge) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas->wooldridge) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->wooldridge) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->wooldridge) (1.16.0)
Installing collected packages: wooldridge
Successfully installed wooldridge-0.4.4

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
import wooldridge as wd

In [86]:
 wage= wd.data('wage1')[['wage','educ', 'exper']]
 y = wage['wage'].to_numpy()
 x = wage[['educ','exper']].to_numpy()
 wage

      wage  educ  exper
0     3.10    11      2
1     3.24    12     22
2     3.00    11      2
3     6.00     8     44
4     5.30    12      7
..     ...   ...    ...
521  15.00    16     14
522   2.27    10      2
523   4.67    15     13
524  11.56    16      5
525   3.50    14      5

[526 rows x 3 columns]

In [75]:
x

array([[ 1., 11.,  2.],
       [ 1., 12., 22.],
       [ 1., 11.,  2.],
       ...,
       [ 1., 15., 13.],
       [ 1., 16.,  5.],
       [ 1., 14.,  5.]])

In [90]:
y

array([ 3.0999999 ,  3.24000001,  3.        ,  6.        ,  5.30000019,
        8.75      , 11.25      ,  5.        ,  3.5999999 , 18.18000031,
        6.25      ,  8.13000011,  8.77000046,  5.5       , 22.20000076,
       17.32999992,  7.5       , 10.63000011,  3.5999999 ,  4.5       ,
        6.88000011,  8.47999954,  6.32999992,  0.52999997,  6.        ,
        9.56000042,  7.78000021, 12.5       , 12.5       ,  3.25      ,
       13.        ,  4.5       ,  9.68000031,  5.        ,  4.67999983,
        4.26999998,  6.1500001 ,  3.50999999,  3.        ,  6.25      ,
        7.80999994, 10.        ,  4.5       ,  4.        ,  6.38000011,
       13.69999981,  1.66999996,  2.93000007,  3.6500001 ,  2.9000001 ,
        1.63      ,  8.60000038,  5.        ,  6.        ,  2.5       ,
        3.25      ,  3.4000001 , 10.        , 21.62999916,  4.38000011,
       11.71000004, 12.39000034,  6.25      ,  3.71000004,  7.78000021,
       19.97999954,  6.25      , 10.        ,  5.71000004,  2.        ,
        5.71000004, 13.07999992,  4.90999985,  2.91000009,  3.75      ,
       11.89999962,  4.        ,  3.0999999 ,  8.44999981,  7.13999987,
        4.5       ,  4.6500001 ,  2.9000001 ,  6.67000008,  3.5       ,
        3.25999999,  3.25      ,  8.        ,  9.85000038,  7.5       ,
        5.90999985, 11.76000023,  3.        ,  4.80999994,  6.5       ,
        4.        ,  3.5       , 13.15999985,  4.25      ,  3.5       ,
        5.13000011,  3.75      ,  4.5       ,  7.63000011, 15.        ,
        6.8499999 , 13.32999992,  6.67000008,  2.52999997,  9.80000019,
        3.36999989, 24.97999954,  5.4000001 ,  6.11000013,  4.19999981,
        3.75      ,  3.5       ,  3.6400001 ,  3.79999995,  3.        ,
        5.        ,  4.63000011,  3.        ,  3.20000005,  3.91000009,
        6.42999983,  5.48000002,  1.5       ,  2.9000001 ,  5.        ,
        8.92000008,  5.        ,  3.51999998,  2.9000001 ,  4.5       ,
        2.25      ,  5.        , 10.        ,  3.75      , 10.        ,
       10.94999981,  7.9000001 ,  4.71999979,  5.84000015,  3.82999992,
        3.20000005,  2.        ,  4.5       , 11.55000019,  2.1400001 ,
        2.38000011,  3.75      ,  5.51999998,  6.5       ,  3.0999999 ,
       10.        ,  6.63000011, 10.        ,  2.30999994,  6.88000011,
        2.82999992,  3.13000011,  8.        ,  4.5       ,  8.64999962,
        2.        ,  4.75      ,  6.25      ,  6.        , 15.38000011,
       14.57999992, 12.5       ,  5.25      ,  2.17000008,  7.13999987,
        6.21999979,  9.        , 10.        ,  5.76999998,  4.        ,
        8.75      ,  6.53000021,  7.5999999 ,  5.        ,  5.        ,
       21.86000061,  8.64000034,  3.29999995,  4.44000006,  4.55000019,
        3.5       ,  6.25      ,  3.8499999 ,  6.17999983,  2.91000009,
        6.25      ,  6.25      ,  9.05000019, 10.        , 11.10999966,
        6.88000011,  8.75      , 10.        ,  3.04999995,  3.        ,
        5.80000019,  4.0999999 ,  8.        ,  6.1500001 ,  2.70000005,
        2.75      ,  3.        ,  3.        ,  7.36000013,  7.5       ,
        3.5       ,  8.10000038,  3.75      ,  3.25      ,  5.82999992,
        3.5       ,  3.32999992,  4.        ,  3.5       ,  6.25      ,
        2.95000005,  5.71000004,  3.        , 22.86000061,  9.        ,
        8.32999992,  3.        ,  5.75      ,  6.76000023, 10.        ,
        3.        ,  3.5       ,  3.25      ,  4.        ,  2.92000008,
        3.05999994,  3.20000005,  4.75      ,  3.        , 18.15999985,
        3.5       ,  4.11000013,  1.96000004,  4.28999996,  3.        ,
        6.44999981,  5.19999981,  4.5       ,  3.88000011,  3.45000005,
       10.90999985,  4.0999999 ,  3.        ,  5.9000001 , 18.        ,
        4.        ,  3.        ,  3.54999995,  3.        ,  8.75      ,
        2.9000001 ,  6.26000023,  3.5       ,  4.5999999 ,  6.        ,
        2.8900001 ,  5.57999992,  4.        ,  6.        ,  4.5       ,
        2.92000008,  4.32999992, 18.88999939,  4.28000021,  4.57000017,
        6.25      ,  2.95000005,  8.75      ,  8.5       ,  3.75      ,
        3.1500001 ,  5.        ,  6.46000004,  2.        ,  4.78999996,
        5.78000021,  3.18000007,  4.67999983,  4.0999999 ,  2.91000009,
        6.        ,  3.5999999 ,  3.95000005,  7.        ,  3.        ,
        6.07999992,  8.63000011,  3.        ,  3.75      ,  2.9000001 ,
        3.        ,  6.25      ,  3.5       ,  3.        ,  3.24000001,
        8.02000046,  3.32999992,  5.25      ,  6.25      ,  3.5       ,
        2.95000005,  3.        ,  4.69000006,  3.73000002,  4.        ,
        4.        ,  2.9000001 ,  3.04999995,  5.05000019, 13.94999981,
       18.15999985,  6.25      ,  5.25      ,  4.78999996,  3.3499999 ,
        3.        ,  8.43000031,  5.69999981, 11.97999954,  3.5       ,
        4.23999977,  7.        ,  6.        , 12.22000027,  4.5       ,
        3.        ,  2.9000001 , 15.        ,  4.        ,  5.25      ,
        4.        ,  3.29999995,  5.05000019,  3.57999992,  5.        ,
        4.57000017, 12.5       ,  3.45000005,  4.63000011, 10.        ,
        2.92000008,  4.51000023,  6.5       ,  7.5       ,  3.53999996,
        4.19999981,  3.50999999,  4.5       ,  3.3499999 ,  2.91000009,
        5.25      ,  4.05000019,  3.75      ,  3.4000001 ,  3.        ,
        6.28999996,  2.53999996,  4.5       ,  3.13000011,  6.36000013,
        4.67999983,  6.80000019,  8.52999973,  4.17000008,  3.75      ,
       11.10000038,  3.25999999,  9.13000011,  4.5       ,  3.        ,
        8.75      ,  4.13999987,  2.86999989,  3.3499999 ,  6.07999992,
        3.        ,  4.19999981,  5.5999999 , 10.        , 12.5       ,
        3.75999999,  3.0999999 ,  4.28999996, 10.92000008,  7.5       ,
        4.05000019,  4.6500001 ,  5.        ,  2.9000001 ,  8.        ,
        8.43000031,  2.92000008,  6.25      ,  6.25      ,  5.11000013,
        4.        ,  4.44000006,  6.88000011,  5.42999983,  3.        ,
        2.9000001 ,  6.25      ,  4.34000015,  3.25      ,  7.26000023,
        6.3499999 ,  5.63000011,  8.75      ,  3.20000005,  3.        ,
        3.        , 12.5       ,  2.88000011,  3.3499999 ,  6.5       ,
       10.38000011,  4.5       , 10.        ,  3.80999994,  8.80000019,
        9.42000008,  6.32999992,  4.        ,  2.9000001 , 20.        ,
       11.25      ,  3.5       ,  6.        , 14.38000011,  6.36000013,
        3.54999995,  3.        ,  4.5       ,  6.63000011,  9.30000019,
        3.        ,  3.25      ,  1.5       ,  5.9000001 ,  8.        ,
        2.9000001 ,  3.28999996,  6.5       ,  4.        ,  6.        ,
        4.07999992,  3.75      ,  3.04999995,  3.5       ,  2.92000008,
        4.5       ,  3.3499999 ,  5.94999981,  8.        ,  3.        ,
        5.        ,  5.5       ,  2.6500001 ,  3.        ,  4.5       ,
       17.5       ,  8.18000031,  9.09000015, 11.81999969,  3.25      ,
        4.5       ,  4.5       ,  3.71000004,  6.5       ,  2.9000001 ,
        5.5999999 ,  2.23000002,  5.        ,  8.32999992,  2.9000001 ,
        6.25      ,  4.55000019,  3.27999997,  2.29999995,  3.29999995,
        3.1500001 , 12.5       ,  5.1500001 ,  3.13000011,  7.25      ,
        2.9000001 ,  1.75      ,  2.8900001 ,  2.9000001 , 17.70999908,
        6.25      ,  2.5999999 ,  6.63000011,  3.5       ,  6.5       ,
        3.        ,  4.38000011, 10.        ,  4.94999981,  9.        ,
        1.42999995,  3.07999992,  9.32999992,  7.5       ,  4.75      ,
        5.6500001 , 15.        ,  2.26999998,  4.67000008, 11.56000042,
        3.5       ])

In [87]:
X = np.c_[np.ones(len(x)),x]
X

array([[ 1., 11.,  2.],
       [ 1., 12., 22.],
       [ 1., 11.,  2.],
       ...,
       [ 1., 15., 13.],
       [ 1., 16.,  5.],
       [ 1., 14.,  5.]])

In [78]:
X.T.dot(X)

array([[   526.,    526.,   6608.,   8951.],
       [   526.,    526.,   6608.,   8951.],
       [  6608.,   6608.,  87040., 106539.],
       [  8951.,   8951., 106539., 249027.]])

In [81]:
error_estim = y - y_estim

In [92]:
betas= np.linalg.inv(X.T.dot(X)).dot(X.T.dot(y))
betas

array([-3.39053946,  0.64427208,  0.0700954 ])

In [95]:
# y 
y_estim= X.dot (betas)

In [96]:
#error estimado
error_estim = y - y_estim

In [97]:
sum(error_estim ** 2)
#numerador

5548.159788779683

In [98]:
n,k = X.shape

In [99]:
n

526

In [100]:
k

3

In [103]:
sigma= 5548.159788779683/(n-k)

In [102]:
ee= np.diag(np.sqrt(sigma *  np.linalg.inv(X.T.dot(X))))

<ipython-input-102-5f49c04cbd1f>:1: RuntimeWarning: invalid value encountered in sqrt
  ee= np.diag(np.sqrt(sigma *  np.linalg.inv(X.T.dot(X))))

In [111]:
# t
t = betas/ee

In [116]:
#intervalo de confianza 
lim_sup= betas +(1.96* ee)
lim_inf= betas -(1.96*ee)

In [117]:
lim_sup

array([-1.88806992,  0.74973198,  0.09161156])

In [118]:
lim_inf

array([-4.89300901,  0.53881218,  0.04857923])

Los coeficientes son estadisticamente significativos